@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Features</h3>
    <ul style="list-style-type: none; padding: 0;">
        <li><a href="/Actors">Browse Actors</a></li>
        <li><a href="/Movies">Browse Movies</a></li>
        <li><a href="/ActorMovies">Manage Movie Casts</a></li>
    </ul>
</div>
