@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="color: #f0f0f0;">
    <h3 style="color: #ffffff;">Movie Reviews By</h3>
    <img id="randomPlayer" alt="Football Player" class="player-photo" 
         style="width: 600px; height: auto; border: 2px solid #333; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
</div>


<script src="~/js/site.js"></script>