@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I promise I'm not skilled enough to spy on you.  But even if I could I wouldn't want to because you're a boring person.</p>
