@model Fall2024_Assignment3_npmckivergan.Models.ActorMovie

@{
    ViewData["Title"] = "Details";
}

<style>
    .content {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px; 
        border-radius: 10px;
        color: #000;
    }

    h1 {
        color: #333;
    }

    .btn {
        margin-top: 10px; 
    }
</style>

<div class="content">
    <h1>Details</h1>

    <div>
        <h4>ActorMovie</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Movie.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Actor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Actor.Name)
            </dd>
        </dl>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
